/* Example List Styling */

.list-container{
  width: 100%;
  height: 100vh;
  margin-top: 1rem;
}

.main-list {
  border: 2px solid #4f4f4f;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  background: lightgray;
}

figure {
  /* border: 2px solid red; */
  width: fit-content;
  display: flex;
  text-align: center;
  flex-direction: column-reverse;
  position: relative;
}

figure img {
  width: 15rem;
  height: 15rem;
}

figure p {
  position: relative;
  bottom: 2.9rem;
  left: 11.4rem;
  background: white;
  border: 1px solid white;
  height: 1.5rem;
  width: 3.5rem;
}

figure h3 {
  width: 15rem;
}

/*Nav styles*/

.nav-bar-container {
  border-bottom: 1px solid #4f4f4f;
  height: 5vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5%;
}

.nav-bar {
  /* border: 1px solid #4f4f4f; */
  width: 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-bar a {
  text-decoration: none;
  color: #4f4f4f;
  font-size: 1.3rem;
}

.nav-bar a:hover {
  border-top: 1px solid black;
  cursor: pointer;
}

.nav-bar button {
  height: 1.7rem;
  width: 5rem;
  border-radius: 0.2rem;
  color: black;
  background: rgba(235, 95, 95, 0.5);
  border: none;
}

.nav-bar button:hover {
  cursor: pointer;
}


.logo a{
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
}

/*Landing Page Styling*/

.landing-page {
  height: 90vh;
  /* border: 1px solid #4f4f4f; */
  display: flex;
}

.landing-page img {
  width: 50%;
  margin: 2rem;
  border-radius: 3rem;
}

.shop-cta {
  margin-left: 13rem;
  margin-top: 20rem;
}

.shop-cta h1 {
  font-size: 4rem;
}

.shop-cta h3 {
  font-size: 1.5rem;
  color: #4f4f44;
}

.shop-cta button {
  height: 3rem;
  width: 7rem;
  margin-left: 5rem;
  border: none;
}

.shop-cta button:hover {
  cursor: pointer;
}

.shop-cta button:nth-child(1) {
  background: #ffba00;
  font-size: 1.2rem;
}

.shop-cta button:nth-child(1) a {
  color: black;
  text-decoration: none;
  font-weight: 500;
}

.shop-cta button:nth-child(2) {
  background-color: rgb(24, 5, 5);
  font-size: 1rem;
}

.shop-cta button:nth-child(2) a {
  color: white;
  text-decoration: none;
}

/*Owner-login-container*/

.log-in-container {
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.owner-log-in-card {
  border: 1px solid #4f4f4f;
  height: 50vh;
  width: 40vh;
  margin: 5rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 2rem;
  background: rgb(243, 251, 253);
}

.owner-log-in-card label {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  text-align: center;
  line-height: 3rem;
}

.owner-log-in-card #submit-button {
  margin: 2rem;
  height: 1.5rem;
  width: 10rem;
  background: rgb(120, 219, 120);
  border: none;
  border-radius: 0.2rem;
}

.owner-log-in-card #submit-button:hover {
  cursor: pointer;
}


/*Register New Owner Styles*/

.new-owner-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.new-owner-card{
  border: 1px solid #4f4f4f;
  height: 50vh;
  width: 40vh;
  margin: 5rem;
  margin-top: 1.6rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 2rem;
  background: rgb(243, 251, 253);
}

.new-owner-card label {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  text-align: center;
  line-height: 3rem;
}

.new-owner-card #new-owner-submit{
  margin: 2rem;
  height: 1.5rem;
  width: 10rem;
  background: rgb(120, 219, 120);
  border: none;
  border-radius: 0.2rem;
}

.new-owner-card #new-owner-submit:hover{
  cursor: pointer;
}