/* Example List Styling */
*{
  font-family: Arial, Helvetica, sans-serif; 
  box-sizing: border-box;
}

.list-container{
  width: 100%;
  height: 100vh;
}

.main-list {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  background: lightgray;
}



figure {
   position:relative;
}

figcaption {
  background-color: black;
  color: white;
  font-style: italic;
  text-align: center;


}

h3 {
  display:flex;
}

figure img {
  width: 100%;
  border:none;
  margin:none;
  padding:none;
}

div.image-price {
  color: black;
  background: white;
  position:absolute;
  right: 0px;
  top: 1.3rem;
  text-align: end;
  padding-right: 3px;
  width: 6rem;
  height: 3rem;
}




/*Nav styles*/

.nav-bar-container {
  border-bottom: 1px solid #4f4f4f;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 5rem;
}

.nav-bar {
  /* border: 1px solid #4f4f4f; */
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: none;
  padding: none;

}

.nav-bar a {
  text-decoration: none;
  color: #4f4f4f;
  font-size: 1rem;
  margin: none;
  padding: none;
  height: 1.1rem;
}

.nav-bar a:hover {
  border-top: 1px solid black;
  cursor: pointer;
}

#logout {
  font-size: 1rem;
}

.nav-bar #logout button{
  padding: none;
  margin: none;
  display: flex;
  background: none;
  border: white;
  text-decoration: none;
  color: #4f4f4f;
  font-size: 1rem;
}

.nav-bar #logout button:hover{
  border-top: 1px solid black;
  cursor: pointer;
}

.logo{
  height: 2rem;
  padding: none;
  margin: none;
}

.logo a h1{
  text-decoration: none;
  color: black;
  font-size: 1rem;
  padding: none;
  margin: none;
}

#logo-cowrie {
  max-width: 2rem;
}
.logo a{
  text-decoration: none;
  font-size: 1rem;
}

/*Landing Page Styling*/

.landing-page {
  max-height: 900px;
  height: 170vw;
  /* border: 1px solid #4f4f4f; */
  display: flex;
  justify-content: center;
}

.landing-page div.image {
  width: 100vw;
  max-width: 730px;
  background-image: url('/assets/AfricanMarketCover.jpg');
  background-position: bottom center;
  margin:none;
}

.shop-cta {
  background: rgba(255,255,255,0.6);
  border-radius: 10px;
  margin: 0.5rem;
  padding: 0.2rem;
}

.shop-cta h2 {
  font-size: 4rem;
}

.shop-cta h3 {
  font-size: 3rem;
  color: #151504;
}

.shop-cta button {
  height: 3rem;
  width: 7rem;
  border: none;
  transition: 500ms;
}



.shop-cta button:nth-child(1) {
  background: #ffba00;
  font-size: 1.2rem;
}

.shop-cta button:nth-child(1) a {
  color: black;
  text-decoration: none;
  font-weight: 500;
}

.shop-cta button:nth-child(2) {
  background-color: white;
  border: 2px solid rgb(24, 5, 5);
  font-size: 1rem;
  transition: 500ms;
}

.shop-cta button:hover {
  cursor: pointer;
  background-color: lightgoldenrodyellow;
  font-size: 1.05rem;
}


.shop-cta button:nth-child(2) a {
  color: black;
  text-decoration: none;
}

/*Owner-login-container*/

.log-in-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height:85vh;
  
}

.owner-log-in-card {
  border: 1px solid #4f4f4f;
  height: 80vh;
  width: 90vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 2rem;
  background: rgb(243, 251, 253);
}

.owner-log-in-card label {
  display: flex;
  flex-direction: column;
  text-align: center;
  line-height: 3rem;
}

.owner-log-in-card #submit-button {
  margin: 2rem;
  height: 1.5rem;
  width: 10rem;
  background: rgb(120, 219, 120);
  border: none;
  border-radius: 0.2rem;
}

.owner-log-in-card #submit-button:hover {
  cursor: pointer;
}


/*Register New Owner Styles*/

.new-owner-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.new-owner-card{
  border: 1px solid #4f4f4f;
  height: 30vw;
  width: 30vw;
  margin: 5rem;
  margin-top: 1.6rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 2rem;
  background: rgb(243, 251, 253);
}

.new-owner-card label {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  text-align: center;
  line-height: 3rem;
}

.new-owner-card #new-owner-submit{
  margin: 2rem;
  height: 1.5rem;
  width: 10rem;
  background: rgb(120, 219, 120);
  border: none;
  border-radius: 0.2rem;
}

.new-owner-card #new-owner-submit:hover{
  cursor: pointer;
}

.add-item-container {
  display: block;
  z-index: 3;
  background: rgb(255,255,255);
}

.row {
  display: flex;
  flex-direction: row;
  align-items: space-between;
  padding-bottom: 2vw;
}

.row label{
  display: flex;
  flex-direction: column;
  padding-right: 2vw;
}

.add-button {
  background: #ffba00;
  font-size: 1.2rem;
}

.row .add-submit-button {
  background-color: white;
  border: 2px solid rgb(24, 5, 5);
  font-size: 1rem;
}

.cast-shadow {
  box-shadow: 100vw 100vw 100vw 100vw rgb(255,255,255, 0.7)
}



@media only screen and (min-width: 400px) {


  .nav-bar-container {
    height: 7rem;
  }
  
  .nav-bar a {
    font-size: 2rem;
    height: 2.5rem;
  }
  
  #logout {
    font-size: 2rem;
  }
  
  .nav-bar #logout button{
    font-size: 2rem;
  }
  
  .logo{
    height: 3rem;
  }
  
  .logo a h1 {
    font-size: 2rem;
  }
  #logo-cowrie {
    font-size: 2rem;
  }
}

@media only screen and (min-width: 800px) {
  figure {
    max-width: 380px;
  }

}